<footer class="main-footer">
    <strong> <a href="https://www.facebook.com/share/1EKbpxtcKL/">Gihad Yassen Al-shebani</a></strong>
 
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" href="https://www.facebook.com/share/1EKbpxtcKL/"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/gih___26?igsh=MThpdTUzeG5udmx4ag=="><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer> 